<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.vvsengenharia.automation">

    <application
        android:name=".NotificationApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_caixa"
        android:label="@string/caixa_d_gua_inteligente"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_caixa_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Automation">

        <activity
            android:name=".Caixa2"
            android:parentActivityName=".TelaInicial" />
        <activity
            android:name=".Sobre"
            android:parentActivityName=".TelaInicial" />
        <activity
            android:name=".ConfiguracaoCaixa"
            android:parentActivityName=".TelaInicial" />
        <activity
            android:name=".Caixa1"
            android:parentActivityName=".TelaInicial" />
        <activity
            android:name=".TelaInicial"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>